<div class="container mt-5">
  <h1 class="h4">マイページ</h1>

  <div class="d-flex gap-2">
    <%= link_to '学習記録を追加', new_learning_record_path, class: "btn btn-sm btn-outline-primary" %>
    <%= link_to "学習ログ", learning_records_path, method: :get, class: "btn btn-sm btn-outline-primary" %>
    <%= link_to "タグ管理", tags_path, method: :get, class: "btn btn-sm btn-outline-primary" %>
  </div>

  <% if @user.errors.any? %>
    <div style="color: red;">
      <h2><%= @user.errors.count %>件のエラーがあります</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @user, class: "container mt-4" do |f| %>
    <div class="mb-3">
      <%= f.label :name, class: "form-label" %><small>（ニックネーム可）</small>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, class: "form-control",
      placeholder: "※ 変更する場合は、新しいパスワードを入力してください（６文字以上）" %>
    </div>

    <div class="mb-3">
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= label_tag :learning_theme_name, "学習テーマ", class: "form-label" %>
      <%= text_field_tag :learning_theme_name,
          current_user.learning_themes.first&.name,
          class: "form-control",
      placeholder: "※ 学習テーマを入力してください（例：英語、Rails、ピアノ など）" %>
    </div>

    <div class="d-flex gap-2 mt-3">
      <%= f.submit class: "btn btn-sm btn-primary" %>
      <%= button_to "アカウントを削除する", user_path(@user), method: :delete,
      data: { turbo_confirm: "アカウントを削除すると全ての記録が失われます。よろしいですか？" }, class: "btn btn-sm btn-outline-danger" %>
      <%= link_to "戻る", user_path(current_user), class: "btn btn-sm btn-outline-primary" %>
    </div>

  <% end %>
