<div class="container mt-5" style="max-width: 600px;">
  <h1 class="h4">プロフィール編集</h1>

  <div class="d-flex gap-2">
    <%= link_to '学習記録を追加', new_learning_record_path(study_date: Date.current, theme_id: @learning_theme.id), class: "btn btn-sm btn-outline-primary" %>
    <%= link_to "学習ログ", learning_records_path(theme_id: @learning_theme.id), method: :get, class: "btn btn-sm btn-outline-primary" %>
    <%= link_to "タグ管理", learning_theme_tags_path(@learning_theme), method: :get, class: "btn btn-sm btn-outline-primary" %>
  </div>

  <% if @user.errors.any? %>
    <div style="color: red;">
      <h2><%= @user.errors.count %>件のエラーがあります</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @user, class: "container mt-4" do |f| %>
    <div class="mb-3">
      <%= f.label :name, class: "form-label" %><small>（ニックネーム可）</small>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, class: "form-control",
      placeholder: "※ 変更する場合は、新しいパスワードを入力してください（６文字以上）" %>
    </div>

    <div class="mb-3">
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= label_tag :learning_theme_names, "学習テーマ", class: "form-label" %>
      <% current_user.learning_themes.each do |theme| %>
        <%= text_field_tag "learning_theme_names[]", theme.name, class: "form-control mb-2", placeholder: "※ 学習テーマを入力してください（例：英語、Rails、ピアノ など）" %>
      <% end %>
      <% (3 - current_user.learning_themes.count).times do %>
        <%= text_field_tag :"learning_theme_names[]", nil, class: "form-control mb-2", placeholder: "※ 学習テーマは３つまで登録できます" %>
      <% end %>
    </div>

    <div class="d-flex gap-2 mt-4">
      <%= f.submit class: "btn btn-sm btn-primary" %>
      <%= button_to "アカウントを削除する", user_path(@user), method: :delete,
      data: { turbo_confirm: "アカウントを削除すると全ての記録が失われます。よろしいですか？" }, class: "btn btn-sm btn-outline-danger" %>
      <%= link_to "戻る", user_path(current_user), class: "btn btn-sm btn-outline-primary" %>
    </div>

  <% end %>
