<%= form_with model: learning_record do |f| %>
  <div>
    <%= f.label :content, "学習内容" %><br>
    <%= f.text_area :content, rows: 4 %>
  </div>

  <div>
    <%= f.label :duration_minutes, "学習時間（分）" %><br>
    <%= f.number_field :duration_minutes, min: 0 %>
  </div>

  <div>
    <%= f.label :study_date, "日付" %><br>
    <%= f.date_field :study_date %>
  </div>

  <div>
    <%# f.submit のラベルはi18n対応後に削除予定 %>
    <%= f.submit learning_record.new_record? ? "記録する" : "更新する" %>
    <%= link_to "戻る", return_path %>
  </div>
  
<% end %>
