<div>
  <%= form_with model: @tag, class: "container mt-4" do |f| %>
    <div class="mb-3">
      <%= f.label :name, class: "form-label" %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div>
      <%= f.submit class: "btn btn-sm btn-primary" %>
      <%= link_to "戻る", return_path, class: "btn btn-sm btn-outline-secondary" %>
    </div>
  <% end %>
</div>
