<div>
  <%= form_with model: @tag do |f| %>
    <div>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.submit %>
      <%= link_to "戻る", return_path %>
    </div>
  <% end %>
</div>
